span {
    display: block;
    margin-top: 10px;
}

#login > input {
    margin-top: 2px;
    width: 200px;
}

button[type=click] {
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
}

input {
    margin-top: 5px;
    width: 100px;
}